<h2>Women's Clothing</h2>
<h3>Shop by category: </h3>

<div class="container categories">
  <div class="categories1">
    <div class="category-box">
      <h3>
        <a routerLink ="/tops">
          Tops
          <img src="https://a.lmcdn.ru/img600x866/N/I/NI464EWLYXS2_13073920_1_v1_2x.jpg">
        </a>
      </h3>

    </div>

    <div class="category-box">
      <h3>
        <a routerLink ="/bottoms">
          Bottoms
          <img src="https://a.lmcdn.ru/img600x866/M/A/MA002EWLNNQ1_12665899_1_v1.jpg">
        </a>
      </h3>

    </div>
  </div>

<br>

  <div class="categories2">
    <div class="category-box">
      <h3>
        <a routerLink ="/dresses">
          Dresses
          <img src="https://a.lmcdn.ru/img600x866/T/O/TO029EWJNZV6_11340750_1_v1.jpg">
        </a>
      </h3>
    </div>

    <div class="category-box">
      <h3>
        <a routerLink ="/shoes">
          Shoes
          <img src="https://a.lmcdn.ru/img600x866/I/D/ID007AWMHEE3_13077571_1_v1.jpg">
        </a>
      </h3>
    </div>
  </div>

</div>

